body{
    font-family: "Times New Roman";
    background: #708090;
    margin:0px;
    margin-top: 0px;
    font-size: 120%;
}

p{
    text-align: justify;
}

input[type=text]{ 
    background-color: #BC8F8F;
    border: solid;
    color: black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

button{
    background-color: #BC8F8F;
    border: solid;
    color: black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}