body{
    font-family: "Times New Roman";
    background-color: #cc0000;
}
h1{
    text-align: center;
    background-color: #4d0000;
    color: white;
    font-family: "Arial", sans-serif;
}
h2{
    font-family: "Arial", sans-serif;

}
p{
    text-align: justify;
}