body{
    font-family: "Times New Roman";
    background-color: #ED7878;
}
h1{
    text-align: center;
    background-color: #4d0000;
    color: white;
    font-family: "Arial", sans-serif;
}
h2{
    font-family: "Arial", sans-serif;

}
p{
    text-align: justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
